name: problemka_mtuci
environment:
  sdk: ">=3.9.0 <4.0.0"
dev_dependencies:
  melos: ^7.1.1
  
workspace: 
  - apps/admin_panel
  - apps/client_app
  - packages/core
  - packages/ui_kit

melos:
  command:
    bootstrap:
      runPubGetInParallel: false

  scripts:
    generate:intl:
      run: |
        melos exec --scope=core -- flutter gen-l10n
      description: "Generate internationalization files for all packages."

    generate:client:
      run: |
        melos exec --scope=client_app -- flutter pub run build_runner build --delete-conflicting-outputs
      description: "Generate code in client app."

    generate:admin:
      run: |
        melos exec --scope=admin_panel -- flutter pub run build_runner build --delete-conflicting-outputs
      description: "Generate code in admin app."

    generate:ui_kit:
      run: |
        melos exec --scope=ui_kit -- flutter pub run build_runner build --delete-conflicting-outputs
      description: "Generate code in ui_kit package."

    generate:core:
      run: |
        melos exec --scope=core -- flutter pub run build_runner build --delete-conflicting-outputs
      description: "Generate code in core package."

    generate:all:
      steps:
        - melos run generate:intl
        # - melos run generate:core
        - melos run generate:ui_kit
        - melos run generate:client
        # - melos run generate:admin
      description: "Generate code in base and assets in all label packages."

    clean:
      run: |
        melos exec -- flutter clean
      description: "Clean the build directories for all packages."

    get:
      run: |
        dart pub get
      description: "Run pub get once for the whole workspace."

    format:
      run: |
        melos exec -- flutter pub format .
      description: "Format Dart code in all packages."

    analyze:
      run: |
        melos exec -- flutter analyze
      description: "Analyze Dart code in all packages."

    test:
      run: |
        melos exec -- flutter test --coverage
      description: "Run unit tests in all packages."
