name: core
description: "A new Flutter package project."
resolution: workspace
version: 0.0.1
homepage: null

environment:
  sdk: ^3.9.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  responsive_framework: ^1.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0



flutter: 
  generate: true

flutter_intl:
  enabled: true
